@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Основные цвета */
  --color-white: #fff;
  --color-semi-transparent-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-semi-transparent-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;

  /* Шрифты */
  --font-main: "Open Sans", sans-serif;
  --font-heading: "Neucha", cursive;

  /* Размеры и отступы */
  --font-size-base: 16px;
  --line-height-base: 1.6em;
  --line-height-heading: 1.2em;
  --section-padding: 100px;
  --max-content-width: 1110px;
}

body {
  margin: 0;
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: var(--line-height-base);
  color: var(--color-dark);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: normal;
  line-height: var(--line-height-heading);
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 188px;
  height: 714px;
}

.content {
  position: relative;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--section-padding) 0;
}

.bg-image {
  position: relative;
}

.bg-image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.bg--light {
  background-color: var(--color-light);
}

.bg--brown {
  background-color: var(--color-brown);
  color: var(--color-white);
}

.bg--dark {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white);
  color: var(--color-brown);
}

.text-primary {
  color: var(--color-primary);
}

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.columns-2 {
  display: flex;
  gap: 30px;
}

.columns-2 > div {
  flex: 1;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
}

#preview-image {
  text-align: center;
}

#preview-image h2 {
  margin-bottom: 30px;
}

#preview-image a {
  position: relative;
  display: block;
  width: 919px;
  height: 317px;
  margin: auto;
}

#preview-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 919px;
  height: 517px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

#navigation {
  padding-top: 100px;
}

#navigation h2 {
  font-size: 52px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  width: 350px;
  display: flex;
}

.nav-item a {
  display: block;
  text-decoration: none;
  flex-direction: column;
  flex-grow: 1;
  color: var(--color-dark);
}

.card {
  padding: 24px;
}

.card:hover {
  background-color: var(--color-white);
  transition: all 0.3s ease;
}

.card:hover h3 {
  color: var(--color-dark);
  transition: all 0.3s ease;
}

.card-number {
  font-family: var(--font-heading);
  font-size: 64px;
  line-height: 1;
  margin-bottom: 40px;
}

.section-title {
  display: flex;
  gap: 30px;
  font-family: var(--font-heading);
}

.section-title.revert {
  flex-direction: row-reverse;
}

.section-title img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.section-title .tag {
  font-size: 24px;
  color: var(--color-semi-transparent-dark);
}

.section-title .tag.light {
  color: var(--color-semi-transparent-white);
}

.section-title p {
  font-size: 34px;
  line-height: var(--line-height-heading);
  margin: 0;
}

.section-title h2 {
  margin-bottom: 20px;
}

.section-subtitle {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 16px;

  font-family: var(--font-main);
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}

.secton-text {
  display: flex;
  gap: 30px;
}

.secton-text p {
  flex: 1;
  margin-top: 0;
}

.subscription-section {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.subscription-section h3 {
  flex: 1;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.subscription-input {
  display: flex;
}

.email-input {
  flex: 1;
  height: 50px;
  padding: 15px;
  border: none;
  box-sizing: border-box;
  background-color: var(--color-white);
}

.submit-btn {
  position: relative;
  width: 70px;
  height: 50px;
  background-color: var(--color-primary);
  border: none;
  z-index: 2;
  cursor: pointer;
}

.submit-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.agreement {
  margin: 0;
  font-size: 12px;
}

.agreement a {
  color: inherit;
}

.contacts {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}

.contacts a {
  color: var(--color-blue);
}
